/*
Coloured used:
Black: #181A1B
darkgreen: 286757
midgreen: 2FC723
lightgreen: B3F200
white: D3E0D3
*/

*{
  box-sizing: border-box;
}
/* next area for font and sizing style */
body {
  background-color: #181A1B;
  font-family: 'Caprum', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}
header{
  position: fixed;
  width: 100%;
  background-color: #D3E0D3;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 5px;
  border-bottom: 2px solid #4a4a4a;
  text-align: center;
}

main{
  padding-top: 133px
}
footer{
  width: 100%;
  background-color: #286757;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 5px;
  text-align: center;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
}

img {
  width: 100%
}

/* next area for hyperlink colours */
a {
  color: #B3F200;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #8390f2;
  text-decoration: underline;
}
a:active {
  color: #2FC723;
}

nav > ul > a {
  display: inline-block;
  list-style-type: none;
  padding: 2px 10px 2px 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #286757;
  color: #ffffff;
  border-radius: 3px;
  transition: 0.2s opacity;
}
nav > ul > a:hover,
nav > ul > a:focus,
nav > ul > a:active {
  background-color: #2FC723;
  color: #286757;
  text-decoration: none;
  font-weight: 600;
  }

/* next area for contact button style */
.button.contact {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  background-color: #2FC723;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #2FC723;
  color: #286757;
  }
.button.contact:visited{
  color: #B3F200;
}

/* next area for Read button style */
.button.read {
  width: 300px;
  padding: 10px 0;
  text-align: center;
  background-color: #286757;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button.read:hover,
.button.read:active {
  background-color: #2FC723;
  color: #286757;
  }
.button.read:visited{
  color: #B3F200;
}

/* layout Styling */
.container{
  padding: 0 15px;
}

.row{
  margin: 15px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
 }

 #hero h1{
   text-align: center;
 }
 #hero span{
   text-align: center;
 }
#hero{
  background-color: #D3E0D3;
  color:#181A1B;
  margin: 5px;
}

 .logo{
   max-width: 250px:
 }
