/*
Coloured used:
Black: #181A1B
darkgreen: 286757
midgreen: 2FC723
lightgreen: B3F200
white: D3E0D3
*/

/* next area for font and sizing style */
body {
  background-color: #e6ebe6;
  font-family: 'Caprum', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #181A1B;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%
}

/* next area for hyperlink colours */
a {
  color: #1833de;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #8390f2;
  text-decoration: underline;
}
a:active {
  color: #2FC723;
}


.button.nav {
  display: inline-block;
  width: 24%;
  padding: 10px 0;
  text-align: center;
  background-color: #286757;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button.nav:hover,
.button.nav:focus,
.button.nav:active {
  background-color: #2FC723;
  color: #286757;
  text-decoration: none;
  font-weight: 600;
  }

/* next area for contact button style */
.button.contact {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  background-color: #286757;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #2FC723;
  color: #286757;
  }
.button.contact:visited{
  color: #B3F200;
}

/* next area for Read button style */
.button.read {
  width: 300px;
  padding: 10px 0;
  text-align: center;
  background-color: #286757;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button.read:hover,
.button.read:active {
  background-color: #2FC723;
  color: #286757;
  }
.button.read:visited{
  color: #B3F200;
}
